/*form{border-top: 3px black solid}*/

#contacts:nth-child(odd){
	background-color: #D0D0D0 ;
}
.row:nth-child(3){
	border-top: 1px black solid
}

div .btn{
	margin: 3px;
}

#addC{
	margin-top: 2px;
}
#search{margin-top: 5px}